<div id="pad-wrapper" class="new-user">
	<div class="row-fluid header">
		<h3>Editar Habitacion</h3>
	</div>

	<div class="row-fluid form-wrapper">
		<!-- left column -->
		<div class="span9 with-sidebar">
		    <div class="container">

<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
