
<h1 class="titulo"> Control de habitaciones </h1>

<div ng-controller="ControlHabitacionesController">
  <table class="calendario" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th class="flechas" ng-click="retroceder_semana()">
            <i class="icon icon-arrow-left"></i>
        </th>
        <th colspan="6">
          {{ dias_habitaciones.dias[0].dia | date:'MMMM yyyy' }}
        </th>
        <th class="flechas" ng-click="avanzar_semana()">
            <i class="icon icon-arrow-right"></i>
        </th>
      </tr>
      <tr class="dias">
        <th>Habitación</th>
        <th ng-repeat="item in dias_habitaciones.dias" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
          <span> {{ item.dia | date:'dd'  }} </span>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in dias_habitaciones.habitaciones_estado" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
          <td class="habitacion"> {{ item.habitacion.nombre }} </td>
          <td ng-class="set_class(item.dias_estado[0].libre)">
            <span ng-if="!item.dias_estado[0].libre">{{ item.dias_estado[0].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[1].libre)">
            <span ng-if="!item.dias_estado[1].libre">{{ item.dias_estado[1].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[2].libre)">
            <span ng-if="!item.dias_estado[2].libre">{{ item.dias_estado[2].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[3].libre)">
            <span ng-if="!item.dias_estado[3].libre">{{ item.dias_estado[3].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[4].libre)">
            <span ng-if="!item.dias_estado[4].libre">{{ item.dias_estado[4].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[5].libre)">
            <span ng-if="!item.dias_estado[5].libre">{{ item.dias_estado[5].descripcion }}</span>
          </td>
          <td ng-class="set_class(item.dias_estado[6].libre)">
            <span ng-if="!item.dias_estado[6].libre">{{ item.dias_estado[6].descripcion }}</span>
          </td>
        </tr>
    </tbody>
  </table>
</div>