<!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @disponibles.count %></span>
                            vacantes
                        </div>
                        <span class="date">Habitaciones disponibles</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">2</span>
                            Check-in
                        </div>
                        <span class="date">Para el día de hoy</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @reservas_semana.count %></span>
                            RESERVAS
                        </div>
                        <span class="date">Esta semana</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">$<%= @ventas_mes %></span>
                            VENTAS
                        </div>
                        <span class="date">Últimos 30 días</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">



               

                <!-- table sample -->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-products">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Reservas para el dia de hoy
                            <small>Ultimas reservas activas</small>
                        </h4>
                        <div ng-controller="HomeCtrl">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th>Estado</th>
                                  <th>Fecha Inicio Estadia</th>
                                  <th>Fecha Fin Estadia</th>
                                  <th>Cliente</th>
                                  <th>Habitacion</th>
                                  <th>Tiempo restante</th>
                                  <th></th>
                                </tr>
                              </thead>

                              <tbody ng-repeat="reserva in reservas" ng-cloak >
                                  <tr ng-style="set_bg(reserva)">
                                    <td>
                                      <span ng-if="reserva.confirmada">
                                        <span class="label label-success">
                                          Confirmada
                                        </span>
                                      </span>
                                      <span ng-if="!reserva.confirmada">
                                        <span class="label label-warning">
                                          Pendiente
                                        </span>
                                      </span>
                                    </td>
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_inicio_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_fin_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.cliente.nombre}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.habitacion.nombre}}</td>
                                    <td ng-style="set_color(reserva)">{{difference(reserva)}}</td>
                                    <td><span ng-if="!reserva.confirmada">
                                          <a class="btn btn-mini btn-success" ng-click="update1(reserva)">Confirmar</a>
                                        </span>
                                        <a class="btn btn-mini" ng-href="/reservas/{{reserva.id}}" style="text-decoration: none;">Ver</a>
                                    </td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>


 
                        </div>
                    </div>
                </div>
                <!-- end table sample -->
            </div>


