<!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @disponibles.count %></span>
                            vacantes
                        </div>
                        <span class="date">Habitaciones disponibles</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">2</span>
                            Check-in
                        </div>
                        <span class="date">Para el día de hoy</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @reservas_semana.count %></span>
                            RESERVAS
                        </div>
                        <span class="date">Esta semana</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">$<%= @ventas_mes %></span>
                            VENTAS
                        </div>
                        <span class="date">Últimos 30 días</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">



               

                <!-- table sample -->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-products">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Reservas para el dia de hoy
                            <small>Ultimas reservas activas</small>
                        </h4>
                        <div ng-controller="HomeCtrl">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th>Fecha Inicio Estadia</th>
                                  <th>Fecha Fin Estadia</th>
                                  <th>Cliente</th>
                                  <th>Habitacion</th>
                                  <th>Tiempo restante</th>
                                  <th></th>
                                </tr>
                              </thead>

                              <tbody ng-repeat="reserva in reservas" >
                                  <tr ng-style="set_bg(reserva)">
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_inicio_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_fin_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.cliente.nombre}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.habitacion.nombre}}</td>
                                    <td ng-style="set_color(reserva)">{{difference(reserva)}}</td>
                                    <td><%= link_to 'Check in', class: 'btn btn-mini' %> 
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>


 
                        </div>
                    </div>

                    
                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span2">
                                    Id
                                    </th>
                                    <th class="span2">
                                    <span class="line"></span>Nombre
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Check-in
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Check-out
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Monto
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>Estado
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
                                <tr class="">
                                    <td>
                                        <a href="#">13432423</a>
                                    </td>
                                    <td class="">
                                        Juan Perez
                                    </td>
                                    <td class="">                                        
                                        25-03-2014
                                    </td>
                                    <td class="">                                        
                                        28-03-2014
                                    </td>
                                    <td class="">                                        
                                        $1245
                                    </td>
                                    <td>
                                        <span class="label label-success">Active</span>
                                        <!-- <ul class="actions">
                                            <li><i class="table-edit"></i></li>
                                            <li><i class="table-settings"></i></li>
                                            <li class="last"><i class="table-delete"></i></li>
                                        </ul> -->
                                    </td>
                                </tr>

                                <tr class="">
                                    <td>
                                        <a href="#">54234</a>
                                    </td>
                                    <td class="">
                                        Luis Gonzalez
                                    </td>
                                    <td class="">                                        
                                        25-03-2014
                                    </td>
                                    <td class="">                                        
                                        28-03-2014
                                    </td>
                                    <td class="">                                        
                                        $4322
                                    </td>
                                    <td>
                                        <span class="label label-warning">Cancelada</span>
                                        <!-- <ul class="actions">
                                            <li><i class="table-edit"></i></li>
                                            <li><i class="table-settings"></i></li>
                                            <li class="last"><i class="table-delete"></i></li>
                                        </ul> -->
                                    </td>
                                </tr>
                                
                         
                                
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                      <ul>
                        <li><a href="#">&#8249;</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">&#8250;</a></li>
                      </ul>
                    </div>
                </div>
                <!-- end table sample -->
            </div>


