<!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @habitaciones_disponibles %></span>
                            vacantes
                        </div>
                        <span class="date">Habitaciones disponibles</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @reservas_hoy.count %></span>
                            Check-in
                        </div>
                        <span class="date">Para el día de hoy</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number"><%= @reservas_semana.count %></span>
                            RESERVAS
                        </div>
                        <span class="date">Esta semana</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">US$&nbsp;<%= @ventas_mes %></span>
                            VENTAS
                        </div>
                        <span class="date">Últimos 30 días</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">



               

                <!-- table sample -->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-products">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Reservas para el dia de hoy
                            <small>Ultimas reservas activas</small>
                        </h4>
                        <div ng-controller="HomeCtrl">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th>Estado</th>
                                  <th>Fecha Inicio Estadia</th>
                                  <th>Fecha Fin Estadia</th>
                                  <th>Cliente</th>
                                  <th>Habitacion</th>
                                  <th>Tiempo restante</th>
                                  <th></th>
                                </tr>
                              </thead>

                              <tbody ng-repeat="reserva in reservas" ng-cloak >
                                  <tr ng-style="set_bg(reserva)">
                                    <td>
                                      <span ng-if="reserva.confirmada">
                                        <span class="label label-success">
                                          Confirmada
                                        </span>
                                      </span>
                                      <span ng-if="!reserva.confirmada">
                                        <span class="label label-warning">
                                          Pendiente
                                        </span>
                                      </span>
                                    </td>
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_inicio_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)">{{reserva.fecha_fin_estadia | date:'dd MMM, yyyy HH:mm'}}</td>
                                    <td ng-style="set_color(reserva)"> <a class="hovered" ng-href="/clientes/{{reserva.cliente.id}}" target="_self"  ng-style="set_color(reserva)">{{reserva.cliente.nombre}}&nbsp;{{reserva.cliente.apellido}}</a></td>
                                    <td ng-style="set_color(reserva)"><a class="hovered" ng-href="/habitacions/{{reserva.habitacion.id}}" target="_self" ng-style="set_color(reserva)">{{reserva.habitacion.nombre}}</a></td>
                                    <td ng-style="set_color(reserva)">{{difference(reserva)}}</td>
                                    <td><span ng-if="!reserva.confirmada">
                                          <a class="btn btn-mini btn-success" ng-click="update1(reserva)">Confirmar</a>
                                        </span>
                                        <a class="btn btn-mini" ng-href="/reservas/{{reserva.id}}" style="text-decoration: none;" target="_self">Ver</a>
                                    </td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>


 
                        </div>
                    </div>
  <div ng-controller="ControlHabitacionesController" class="centered">
    <h4> Control de habitaciones </h4>
    <div style="width:630px; margin: 0 auto;">
    <table class="calendario" cellpadding="10" cellspacing="0">
      <thead>
        <tr>
          <th class="flechas" ng-click="retroceder_semana()">
              <i class="icon icon-arrow-left"></i>
          </th>
          <th colspan="6">
            {{ dias_habitaciones.dias[0].dia | date:'MMMM yyyy' }}
          </th>
          <th class="flechas" ng-click="avanzar_semana()">
              <i class="icon icon-arrow-right"></i>
          </th>
        </tr>
        <tr class="dias">
          <th>Habitación</th>
          <th ng-repeat="item in dias_habitaciones.dias">
            <span> {{ item.dia | date:'dd'  }} </span>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in dias_habitaciones.habitaciones_estado">
            <td class="habitacion"> {{ item.habitacion.nombre }} </td>
            <td ng-class="set_class(item.dias_estado[0].libre)" ng-mouseover="mostrar_informacion(item, 0)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[1].libre)" ng-mouseover="mostrar_informacion(item, 1)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[2].libre)" ng-mouseover="mostrar_informacion(item, 2)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[3].libre)" ng-mouseover="mostrar_informacion(item, 3)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[4].libre)" ng-mouseover="mostrar_informacion(item, 4)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[5].libre)" ng-mouseover="mostrar_informacion(item, 5)" ng-mouseout="ocultar_informacion()">
            </td>
            <td ng-class="set_class(item.dias_estado[6].libre)" ng-mouseover="mostrar_informacion(item, 6)" ng-mouseout="ocultar_informacion()">
            </td>
          </tr>
      </tbody>
    </table>

    <div id="calendario_informacion">
      <table class="table">
        <tr>
          <td><strong>Fecha inicio estadia:</strong></td>
          <td>{{ selectedReserva.fecha_inicio_estadia | date:'dd MMM, yyyy HH:mm' }}</td>
        </tr>
        <tr>
          <td><strong>Fecha fin estadia:</strong></td>
          <td>{{ selectedReserva.fecha_fin_estadia | date:'dd MMM, yyyy HH:mm' }}</td>
        </tr>
        <tr>
          <td><strong>Tipo reserva:</strong></td>
          <td>{{ selectedReserva.tipo_reserva.nombre }}</td>
        </tr>
        <tr>
          <td><strong>Cliente:</strong></td>
          <td>{{ selectedReserva.cliente.nombre }}&nbsp;{{selectedReserva.cliente.apellido }}</td>
        </tr>
        <tr>
          <td><strong>Habitacion:</strong></td>
          <td>{{ selectedReserva.habitacion.nombre }}</td>
        </tr>
        <tr>
          <td><strong>Confirmacion:</strong></td>
          
          <td>
            <span ng-show="selectedReserva.confirmada" class="label label-success">
              Confirmada
            </span>
            <span ng-hide="selectedReserva.confirmada" class="label label-warning">
              Pendiente
            </span>
          </td>
        </tr>
        <tr>
          <td><strong>Comentarios:</strong></td>
          <td>{{ selectedReserva.comentarios }}</td>
        </tr>
      </table>
    </div>
    </div>



                </div>
                <!-- end table sample -->
            </div>


