// Place all the styles related to the Clientes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.right-inner-addon {
    position: relative;
    width: 220px;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon input {
    border-radius:5px;
}

#cliente_fecha_nac_1i
{
	width: 100px !important;
}
#cliente_fecha_nac_2i
{
	width: 100px !important;
}
#cliente_fecha_nac_3i
{
	width: 92px !important;
}

#cliente_documento_tipo{
	width: 150px !important;
}

#cliente_documento{
	width: 150px !important;
}

#cliente_direccion{
	width: 150px !important;
	margin-bottom: 15px;
}

#cliente_ciudad_residencia{
	width: 150px !important;
	margin-bottom: 15px;
	margin-left: 20px !important;
}

#cliente_estado_residencia{
	width: 150px !important;
	margin-bottom: 15px;
}

#cliente_pais_residencia{
	width: 150px !important;
	margin-bottom: 15px;
}

#cliente_codigo_postal{
	width: 150px !important;
	margin-bottom: 15px;
}
