// Place all the styles related to the Habitacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fondo_head: #514d4d;
$fondo_libre: #2edb76;
$fondo_ocupado: #F42C2C;
$color_head: #fff;

table
{
	margin: 10px 0;
}

thead
{
	background-color: $fondo_head;
	color: $color_head;
}

.libre
{
	background-color: $fondo_libre;
}

.ocupado
{
	background-color: $fondo_ocupado;
}