// Place all the styles related to the Reservas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#reserva_fecha_inicio_estadia_1i
{
	width: 100px !important;
}
#reserva_fecha_inicio_estadia_2i
{
	width: 100px !important;
}
#reserva_fecha_inicio_estadia_3i
{
	width: 100px !important;
}
#reserva_fecha_inicio_estadia_4i
{
	width: 100px !important;
}
#reserva_fecha_inicio_estadia_5i
{
	width: 100px !important;
}

#reserva_moneda
{
	width: 150px !important;
}
#reserva_monto
{
	width: 150px !important;
}
#reserva_abonada
{
	width: 150px !important;
}
#reserva_forma_de_pago
{
	width: 150px !important;
}

#reserva_fecha_fin_estadia_1i
{
	width: 100px !important;
}
#reserva_fecha_fin_estadia_2i
{
	width: 100px !important;
}
#reserva_fecha_fin_estadia_3i
{
	width: 100px !important;
}
#reserva_fecha_fin_estadia_4i
{
	width: 100px !important;
}
#reserva_fecha_fin_estadia_5i
{
	width: 100px !important;
}

a{
	text-decoration:none;
}