<h1 style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;" >Listado de gastos</h1>

<div class="col-xs-6" >
    <div class="right-inner-addon">
        <i class="icon-search"></i>
        <input ng-model="search.todo" type="search"
               class="form-control" 
               placeholder="Buscar" />
    </div>
</div>

<div ng-controller="GastoController">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Rubro</th>
        <th>Monto</th>
        <th>Moneda</th>
        <th>Comentarios</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="gasto in gastos | filter: search.todo">
        <td>{{ gasto.fecha }}</td>
        <td>{{ gasto.rubro }}</td>
        <td>{{ gasto.monto }}</td>
        <td>{{ gasto.moneda }}</td>
        <td>{{ gasto.comentarios }}</td>
        <td>
          <a class="btn btn-mini" ng-href="/gastos/{{gasto.id}}/edit">Editar</a>
          <a class="btn btn-mini btn-danger" data-confirm="Estas seguro que desea eliminar el gasto?" data-method="delete" href="/gastos/{{gasto.id}}/" rel="nofollow" style="color: white; font-weight: bold;">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>  

</div>

<br>
